header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    padding-left: 50px;
    padding-right: 50px;
}

header ul{
    display: flex;
    list-style: none;
    gap: 50px;
    font-size: 20px;
    font-weight: 500;
}

header button {
    padding: 15px 40px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    border: 1px solid blue;
    font-size: 17px;
}

section {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 124px;
}

section h4 {
    font-size: 20px;
    font-weight: 700;
    color: red;
    font-family: sans-serif;
    margin-top: 50px;
}
section h1 {
    font-size: 50px;
    font-weight: 700;
    color: #161C2D;
    font-family: sans-serif;
}
section p {
    font-size: 18px;
    font-weight: 500;
    color: #161C2D;
    opacity: 70%;
    line-height: 30px;
    font-family: sans-serif;
}
section button {
    padding: 15px 40px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    border: 1px solid blue;
    font-size: 17px;
}

section h5 {
    font-family: sans-serif;
    font-size: 17px;
}