header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    padding-left: 50px;
    padding-right: 50px;
}

header ul{
    display: flex;
    list-style: none;
    gap: 50px;
    font-size: 20px;
    font-weight: 700;
}

header button {
    padding: 15px 40px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    border: 1px solid blue;
    font-size: 17px;
}

section {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 124px;
}

section h4 {
    font-size: 20px;
    font-weight: 700;
    color: red;
    font-family: sans-serif;
    margin-top: 50px;
}
section h1 {
    font-size: 50px;
    font-weight: 700;
    color: #161C2D;
    font-family: sans-serif;
}
section p {
    font-size: 18px;
    font-weight: 500;
    color: #161C2D;
    opacity: 70%;
    line-height: 30px;
    font-family: sans-serif;
}
section button {
    padding: 15px 40px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    border: 1px solid blue;
    font-size: 17px;
}

section h5 {
    font-family: sans-serif;
    font-size: 17px;
}

.about {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-right: 300px;
}

.margin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    background-color: #473BF0;
}

.margin h1{
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.margin p{
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.margin h4{
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.skirinshod {
    width: 100%;
}


.airlar {
    width: 100%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 250px;
    padding-right: 250px;
}

footer h1 {
    font-family: sans-serif;
}

footer ol {
    list-style: none;
    display: flex;
    gap: 50px;
}

footer ol li{
    font-size: 18px;
    font-weight: 500;
    font-family: sans-serif;
}
